$text-light: white;
$text-medium: #505152;
$text-dark: #555557;
$text-verydark: #333;
$text-default: #000;

$link-color: #044C94;

$mainmenu-color: #B60000;
$activemenu-color: #E68080;
$accent-color: #FF2B33;

$boxbg-color: #EEEEEE;
$boxborder-color: #D8D8D8;

$avatar-margin: 7px;
$box-margin: 9px;

