
.buttons {
  clear: both;
  margin-top: 2em;
  @include button;

  button {
    a.button {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
  button:hover {
    cursor: pointer;
  }
  a.button {
    text-decoration: none;
    margin-left: 1em;
  }
  a.leave_button {
    display: block;
    text-align: center;
    margin: auto;
    width: 14em;
    border: 4px solid $accent-color;
  }
}

