#footer {
  padding-top: 0.6em;

  p {
    display: inline;

    span {
      font-weight: bold;
    }
  }

  .links {
    float: right;
    margin-top: 0.2em;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          border-right: 1px solid $text-medium;
          padding: 0 6px 0 2px;
          color: $mainmenu-color;
        }
      }
      li:first-child {
        a {
          border-left: 1px solid $text-medium;
          padding-left: 6px;
        }
      }
    }
  }
}

