
#header {
  #language_menu {
    float: left;

    ul {
      li {
        float: left;
        
        a { 
        }
      }
    }
  }
  #navbar {
    #mainmenu {
      float: left;
 
      ul {
        li {
          float: left;

          a {
          } 
        }
      }
    }
    #search {
      max-height: 1.5em;
      float: left;
      margin-left: 0.5em; 
    }
  }
  .slogan {
    float: left;
  }
  #web_statistics {
    float: right;
 
    ul {
      li {
        float: left;
      }
    }
  }
}

#primary_bar {
  float: left;
}

#main {
  float: left;
  display: block;
  width: 541px;
  padding-right: 6px;
}

#footer {
  p {
    float: left;
  }
  .links {
    ul {
      li {
        float: left;
      }
    }
  }
}

.pagination {
  width: 100%;

  .relative {
    float: left;
    
    ul {
      float: left;
    }
  }
  ul.pagenumbers {
    li {
      margin-right: 4px;
      float: left;
    }
  }
}

.wink {
  float: left;
}

dl {
  margin: 0.5em;

  dt {
    min-width: 6em;
  }
  dd {
    min-width: 14em;
  }
}

.statistics {
  dl {
    float: left;
    dt {
      min-width: 0;
    }
    dd {
      min-width: 0;
    }
  }
}


dl.contact_data {
  dt {
  }
  dd {
    min-width: 50%;
  }
  dd.phone2 {
    margin-left: 40%;
    padding-left: 1em;
  }
  dd.icon {
    min-width: 0;
  }
  dd.p {
  }
}

.rating {
  padding-top: 0;

  dl {
  padding-bottom: 2em;

    dd {
      margin-bottom: 1em;
    }
  }
}

form {
  ul.ratings {
    ul {
      li {
        float: left;
        display: inline;
        clear: none;
        width: 2em;
        border: none;
 
        label {
          clear: left;
          padding-left: 0.1em;
        }
        input {
          clear: none;
        }
      }
    }
    li {
      border-top: 1px solid #D8D8D8;
    }
  }
}


form {
  fieldset {
    padding: 0.5em;
  }
  ul {
    li {
      display: inline-block;
      list-style: none;
  
      label {
        width: 40%;
        display: block;
        float: left;
      }
    }
  }
}

.comments {
  button {
    float: left;
  }
  .comment {
    .buttons {
      float: left;
    }
  }
}

